@font-face {
    font-family: 'Helvetica Neue';
    src: url('/app/public/fonts/HelveticaNeueLt.ttf') format('truetype');
}

* {
    font-family: "Helvetica Neue", serif !important;
}

.title {
    text-align: center;
}

notepad {
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin: auto;
}

.container, ul {
    padding: 0px !important;
}

.container div.row.header {
    border-bottom: black 1px solid !important;
}

.container div.row .col-2 {
    border-right: black 1px solid !important;
    padding: 0px;
}

.note-area {
    height: 450px;
    overflow: auto;
    margin-bottom: 10px;

}

#editor {
    padding: 10px;
    font-weight: bold;
    padding-left: 40px;
    font-size: 20px;
}

#save {
    float: right;
    font-size: 28px;
}

ul li {
    list-style-type: none;
    padding: 10px;
}

ul li a {
    display: block;
    color: #222222;
    font-weight: bold;
    font-size: 22px;
}

ul li a:hover {
    border-top-color: rgba(165, 165, 165, 0.47);
    background: rgba(165, 165, 165, 0.47);
    color: #000000;
}